In [34]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

headers = { 
    'User-Agent'      : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36', 
    'Accept'          : 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8', 
    'Accept-Language' : 'en-US,en;q=0.5',
    'DNT'             : '1', # Do Not Track Request Header 
    'Connection'      : 'close'
}


stock_fii_url = (f'https://www.fundamentus.com.br/fii_proventos.php?papel=MXRF11&tipo=2')
response_fii = requests.get(stock_fii_url, headers=headers, timeout=5).text
soup_proventos = BeautifulSoup(response_fii, 'html.parser')


tabela_fii = soup_proventos.find('table')
proventos_fii = pd.DataFrame(columns=['Última Data Com', 'Tipo', 'Data de Pagamento', 'Valor'])
    
for row in tabela_fii.tbody.find_all('tr'):
    columns = row.find_all('td')
    if (columns != []):
        ult_data_table = columns[0].text.strip(' ')
        tipo_table = columns[1].text.strip(' ')
        data_pag_table = columns[2].text.strip(' ')
        valor_table = columns[3].text.strip(' ')
        proventos_fii = pd.concat([proventos_fii, pd.DataFrame.from_records([{'Última Data Com': ult_data_table, 'Tipo': tipo_table, 'Data de Pagamento': data_pag_table, 'Valor': valor_table}])])
    
proventos_fii.head(20)
proventos_fii['Valor'] = [x.replace(',','.') for x in proventos_fii['Valor']]
proventos_fii = proventos_fii.astype({'Valor': float})

In [35]:
proventos_fii

   Última Data Com        Tipo Data de Pagamento  Valor
0       29/02/2024  Rendimento        14/03/2024   0.10
0       31/01/2024  Rendimento        16/02/2024   0.10
0       28/12/2023  Rendimento        15/01/2024   0.11
0       30/11/2023  Rendimento        14/12/2023   0.11
0       31/10/2023  Rendimento        16/11/2023   0.11
..             ...         ...               ...    ...
0       31/08/2017  Rendimento        15/09/2017   0.06
0       31/07/2017  Rendimento        14/08/2017   0.07
0       30/06/2017  Rendimento        14/07/2017   0.06
0       31/05/2017  Rendimento        14/06/2017   0.10
0       28/04/2017  Rendimento        15/05/2017   0.95

[84 rows x 4 columns]